.btn-calc {
  background-color: #512da8;
}
.btn-calc:hover,
.btn-calc:active {
  background-color: #3a1f79 !important;
}

.text-desc,
.text-result {
  color: black;
}

h1 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .box {
    background-image: linear-gradient(#673ab7, #512da8);
  }

  .text-desc {
    color: rgb(209, 209, 209);
  }

  .text-result {
    color: rgb(255, 255, 255);
  }
}
